formulary_api
lottery/*
capo_html
favicon.ico
forum
iecom
iecomadmin
lib
mbtestapp
img
mwcog
pflow
pledge
*.log
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins/hello.php
.well-known
tmp
.idea/workspace.xml
.idea/*.*
/lottery/
gasstations
