formulary_api
capo_html
favicon.ico
forum
iecom
img
mwcog
*.log
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/plugins/hello.php
.well-known
tmp

